{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="w-full h-screen flex justify-center items-center bg-connection">
        <div class="w-96 bg-white shadow">
            {{ form_start(form) }}
                <h1 class="bg-blue-400 text-white font-semibold text-2xl p-5">Mot de passe</h1>

                <div class="px-5 pt-5 pb-3">
                    {{ form_label(form.password) }}
                    {{ form_errors(form.password) }}
                    {{ form_widget(form.password) }}
                </div>

                <div class="p-5">
                    <button class="btn-blue w-full" type="submit">Envoyer</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}