<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/00a29b1fe9.js" crossorigin="anonymous"></script>

    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}{% endblock %}

    <title>{% block title %}SnowTricks{% endblock %}</title>
</head>
<body class="bg-gray-50">
    <div id="topbar" class="fixed top-0 w-full p-4 text-right hidden xl:flex justify-between z-40 transition-all duration-300">
        <div class="text-white">
            <a href="/">
                <i class="fas fa-snowboarding text-4xl ml-2 mr-1"></i>
                <span class="text-2xl snowtricks-title">
                    <span class="text-blue-400 snowtricks-title">S</span>now<span class="text-blue-400 snowtricks-title">T</span>ricks
                </span>
            </a>
        </div>

        {% if(app.user) %}
            <div>
                <button id="sidebar-btn" class="bg-blue-400 hover:bg-white text-white hover:text-blue-400 border border-blue-400 rounded-none py-2 px-3"><i class="fas fa-bars"></i></button>
            </div>
        {% else %}
            <div class="flex">
                <a href="{{ path('app_register') }}" id="register-btn" class=" block bg-white hover:bg-blue-400 text-blue-400 hover:text-white border border-blue-400 rounded-none py-2 px-3 mr-3"><i class="fas fa-user-plus"></i> Inscription</a>
                <a href="{{ path('app_login') }}" class=" block bg-blue-400 hover:bg-white text-white hover:text-blue-400 border border-blue-400 rounded-none py-2 px-3"><i class="fas fa-sign-in-alt"></i> Connexion</a>
            </div>
        {% endif %}
    </div>

    <div id="bottombar" class="fixed bottom-0 w-full h-16 block md:hidden bg-gray-800 grid grid-cols-3 z-40">
        <div class="text-white flex justify-center items-center">
            <a href="/"><i class="fas fa-home text-3xl"></i></a>
        </div>
        <div class="text-white flex justify-center items-center">
            <a href="#tricks"><i class="fas fa-snowboarding text-3xl"></i></a>
        </div>
        <div class="text-white flex justify-center items-center">
            {% if(app.user) %}
                <button id="mobile-nav-btn" class="text-white text-3xl"><i class="fas fa-bars"></i></button>
            {% else %}
                <a href="{{ path('app_login') }}" id="mobile-nav-btn" class="text-white text-3xl"><i class="fas fa-sign-in-alt"></i></a>
            {% endif %}
        </div>
    </div>

    {% if(app.user) %}
    <nav class="fixed top-0 -right-full w-full xl:w-1/5 h-screen bg-gray-800 z-50 transition-all duration-500">
        <i id="close-nav" class="fas fa-times text-white text-lg border-2 border-white px-3 py-1 rounded-full absolute top-3 right-3 cursor-pointer"></i>

        <figure class="w-32 h-32 mx-auto rounded-full overflow-hidden mt-20">
            <img src="{{ asset('upload/avatar/') }}{{ app.user.avatar }}" alt="" class="min-h-full min-w-full object-cover">
        </figure>
        <h6 class="text-white text-2xl text-center my-5">{{ app.user.firstname }} {{ app.user.lastname }}</h6>

        <div id="user_detail_btn" class="menu-item">
            <span class="cursor-pointer"><i class="fas fa-user-alt mr-1"></i> Mon compte</span>
        </div>

            <div id="user_detail" class="w-full hidden p-3 text-white">
                {{ include('form/_edit_user.html.twig') }}
                <div class="mt-2">{{ include('form/_delete_user.html.twig') }}</div>
            </div>

        <div class="menu-item">
            <a href="{{ path('trick_create') }}"><i class="fas fa-pen mr-1"></i> Ajouter un trick</a>
        </div>

        <a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt text-red-600 text-lg border-2 border-red-600 bg-red-300 px-3 py-1 rounded-none absolute bottom-3 right-3 cursor-pointer"></i></a>

    </nav>
    {% endif %}

    {% block body %}{% endblock %}

    {{ encore_entry_script_tags('app') }}

    {% block javascripts %}{% endblock %}

</body>
</html>