{%  extends 'base.html.twig' %}

{% block body %}
    <figure class="vh-80 w-full xl:w-4/5 xl:mx-auto xl:mt-32 xl:mb-16 shadow-lg overflow-hidden relative">
        {% for media in trick.media %}
            {% if media.cover %}
                <img class="object-cover min-h-full min-w-full" src="{{ asset('upload/tricks/') ~ media.name }}" alt="{{ trick.name }} {{ trick.category.name }}">
            {% endif %}
        {% endfor %}
        <figcaption class="absolute top-0 h-full w-full text-4xl xl:text-8xl flex justify-center items-center">
            <h1 class="text-white font-semibold snowtricks-title bg-blue-400 py-3 pl-8 pr-4 rounded-l-full shadow-lg">{{ trick.name }}</h1>
            <h1 class="text-blue-400 font-semibold snowtricks-title bg-white py-3 pr-8 pl-4 rounded-r-full shadow-lg">{{ trick.category.name }}</h1>
        </figcaption>
    </figure>
    <main class="xl:container xl:mx-auto w-full xl:w-3/5 min-h-screen shadow">
        <div class="col-start-2 pt-8 xl:pt-16 pb-3 mb-8 bg-white">
            <h1 class="text-4xl font-bold mx-8">{{ trick.name }} {{ trick.category.name }}</h1>
            <h6 class="inline-block text-sm italic text-gray-500 mx-8">
                {% if trick.difficulty == 1 %}
                    <i class="fas fa-star text-blue-400"></i><i class="far fa-star text-blue-400"></i><i class="far fa-star text-blue-400"></i>
                {% elseif trick.difficulty == 2 %}
                    <i class="fas fa-star text-blue-400"></i><i class="fas fa-star text-blue-400"></i><i class="far fa-star text-blue-400"></i>
                {% elseif trick.difficulty == 3 %}
                    <i class="fas fa-star text-blue-400"></i><i class="fas fa-star text-blue-400"></i><i class="fas fa-star text-blue-400"></i>
                {% endif %}
            </h6>
            <h6 class="text-sm text-gray-400 mx-8 mt-5">Créé le: <i class="far fa-clock ml-1"></i> {{ trick.createdAt | date("d/m/Y") }} par {{ trick.user.firstname }} {{ trick.user.lastname }}</h6>
            {% if trick.modifiedAt != null %}
                <h6 class="text-sm text-gray-400 mx-8">Modifié: <i class="far fa-clock ml-1"></i> {{ trick.modifiedAt | date("d/m/Y") }}</h6>
            {% endif %}

            <p class="mx-8 my-10 text-justify text-gray-800">
                {{ trick.content | raw }}
            </p>

            <button id="show-media" class="btn-blue block xl:hidden mx-auto">Afficher les médias</button>

            <div id="media" class="hidden xl:block">
                <div class="grid grid-col-1 xl:grid-cols-3 gap-5 mx-6 my-6">
                    {% for media in trick.media %}
                    <figure class="w-full mx-auto mb-5 md:mb-0">
                        <img class="object-cover min-w-full  max-h-52 md:min-h-full" src="{{ asset('upload/tricks/' ~ media.name) }}" alt="{{ media.name }}">
                    </figure>
                    {% endfor %}
                </div>

                <div class="grid grid-col-1 md:grid-cols-2 gap-5 mx-6 my-8">
                    {% for video in trick.videos %}
                        <iframe class="w-full h-64"
                                src="{{ video.url }}"
                                frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    {% endfor %}
                </div>
            </div>

            <h3 class="text-blue-400 text-xl px-8 mt-10">Vos réactions</h3>

            <div class="px-8 mb-8">
            {{ form_start(formComment) }}
                {{ form_errors(formComment) }}
                {{ form_widget(formComment) }}
                <button class="block bg-blue-400 text-white rounded w-full pt-2 pb-1 mt-3" type="submit">Valider</button>
            {{ form_end(formComment) }}
            </div>

            {% for comment in trick.comment %}
            <div class="border border-gray-200 mx-8 md:grid md:grid-cols-6 mb-8">
                <figure class="pt-4 pb-0 px-4 md:p-4">
                    {% if comment.user.avatar %}
                        <img class="rounded-full w-1/4 md:w-full mx-auto" src="{{ asset('upload/avatar/') }}{{ comment.user.avatar }}" alt="">
                    {% else %}
                        <i class="fas fa-user block w-1/4 md:w-full mx-auto mb-4 md:mb-0 text-center text-7xl text-blue-400"></i>
                    {% endif %}
                </figure>
                <div class="md:col-span-5 flex flex-col justify-center items-start text-justify md:text-left p-4">
                    <small class="text-blue-400"><i class="far fa-clock"></i> {{ comment.createdAt | date('d-m-Y') }}</small>
                    <small class="text-blue-400 mb-2 mt-1"><i class="far fa-user"></i> {{ comment.user.firstname }} {{ comment.user.lastname }}</small>
                    <p>{{ comment.message }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </main>
    <footer class="w-full h-16 bg-gray-800 text-white flex justify-center items-center"><p class="hidden md:block">Copyright &copy; <span class="text-blue-400">S</span>now<span class="text-blue-400">T</span>ricks 2021</p></footer>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        document.getElementById('topbar').classList.add('bg-gray-800');
    </script>
{% endblock %}